# Binaries
*.o
*.lo
*.la

# Automake 
Makefile
Makefile.in
.libs
.deps

# Autoconf
/config.*
/configure
/aclocal.m4
/autom4te.cache
/compile
/libtool
/missing
/ltmain.sh
/install-sh
/stamp-h1
/depcomp

# Project specific
/source/ipc/*/*generated.*
/source/ipc/client/cgmi-client-test
/source/ipc/daemon/cgmi-daemon
/source/lib/snobytest

